@font-face {
    font-family: 'Futura Hv BT';
    src: url('../Futura-Book-Font/FuturaRegular.otf') format('truetype') !important;
}

* {
    font-family: 'Futura Hv BT';
}

body {
    background-color: #1E201F !important;
}

/* Banner 1 Background Image */

.index__bg__img {
    background-image: url(/images/Group11.png);
    background-repeat: no-repeat;
    background-position: left;
    object-fit: cover;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
}

/* Banner 1 */
.banner__1 {
    position: relative;
    z-index: 1;
}

.banner__1__content {
    margin-top: 10rem;
}

.banner__1__content h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.57);
}

.banner__1__content h1 {
    font-weight: 400;
    font-size: 58px;
    line-height: 69px;
    background: linear-gradient(180deg, #FC466B -48.19%, #5972F4 82.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.banner__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.87);
    background-color: #9947E2;
    padding: 20px 40px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #9947E2;
    transition: all .3s ease-in-out;
}

.banner__button:hover {
    color: rgba(255, 255, 255, 0.87);
    background-color: #FC466B;
    border: 1px solid #FC466B;
}

.banner__1__img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner__1__img img {
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.search-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -175px auto;
    z-index: 1;
    position: relative;
}

.search-input {
    width: 50%;
    height: 30px;
    padding: 30px 50px;
    border: 1px solid #ccc;
    opacity: 0.8;
    background-color: #1E201F;
    border-radius: 20px 0 0 20px;
}

.search-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
}

.location-input {
    width: 55%;
    height: 30px;
    padding: 30px 87px;
    border: 1px solid #ccc;
    background-color: #1E201F;
    opacity: 0.8;
    border-radius: 0 20px 20px 0;
    /* margin-right: 10px; */
    position: relative;
}

.location-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    /* line-height: 22px; */
    color: rgba(255, 255, 255, 0.87);
}

.location__icon {
    position: absolute;
    left: 53%;
    /* margin-right: 10px; */
    font-weight: 400;
    font-size: 18px;
    /* line-height: 22px; */
    color: rgba(255, 255, 255, 0.87);
    z-index: 1;
}

.location__icon i {
    color: #ECECEC !important;
}

.search-button {
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background: #9947E2;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.search-button:hover {
    color: white;
    background: #FC466B;

}

/* --------------------------------FOOTER-------------------------- */
.footer__bg {
    background-color: #161817;
    margin-top: 12rem;
}

.footer__col h6 {
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
    font-size: 20px;
}

.footer__col p {
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.footer__col a {
    text-decoration: none;
}

.website__logo {
    background-color: #ECECEC;
    color: rgba(255, 255, 255, 0.57);
    opacity: 0.5;
}

.footer__col__img {
    width: 100%;
}

.footer__col__img img {
    width: 70%;
    height: 115px;
}

.footer__button {
    background: #9947E2;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
    font-size: 14px;
}

.footer__col a:hover {
    background: rgba(255, 255, 255, 0.87) !important;
    color: #9947E2 !important;
}

.footer__col3 ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.footer__col3 ul li a:hover {
    color: #9947E2 !important;
    background: none !important;
}

.footer__col3 ul li {
    list-style-type: none;
}

.footer__col3 li:not(:last-child) {
    padding-bottom: .5rem !important;
}

.footer__col3 ul {
    padding-left: 0;
}

.footer__col3 h6 {
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
    font-size: 20px;
}

.footer__social {
    display: flex;
    gap: 1rem;
}

.footer__social i {
    color: rgba(255, 255, 255, 0.57);
    font-size: 20px;
}

.footer__social i:hover {
    color: #9947E2;
}

.footer__row__2 ul {
    display: flex;
    padding-left: 0;
    gap: 1rem;
}

.footer__row__2 ul li {
    list-style-type: none;
}

.footer__row__2 ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.57);
}

.footer__row__2 {
    color: rgba(255, 255, 255, 0.57);
    display: flex;
    justify-content: center;
}

hr {
    color: rgba(255, 255, 255, 0.57);
}

@media (min-width: 320px) and (max-width: 515px) {
    .vr {
        display: none;
    }

    .footer__row__2 ul {
        color: rgba(255, 255, 255, 0.57);
        display: flex;
        flex-direction: column;
        /* justify-content: left; */
    }

    .footer__row__2 {
        justify-content: left;
    }

    .footer__row__2 ul li p {
        margin-top: 12px !important;
    }
}

/* --------------------------------GET A QUOTE----------------------- */

.section__heading h3 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.87);
}

.section__heading p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
}

.form__check {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #575757;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
}

.form__check__11 {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #575757;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
}

.form__check__12 {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #575757;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
}

.form__check__14 {
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #575757;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
}

.form__check__15 {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #575757;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
}

.form__check__13 {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #575757;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
}

.form__check__input[type=checkbox] {
    border-radius: 0px !important;
}

.form__check__input:focus {
    border-color: white;
    outline: 0;
    box-shadow: none;
}

.form__check__input:checked {
    background-color: white;
    border-color: white;
}

.form__check__input {
    background-color: #1e1d1d;
    border: 1.5px solid rgba(255, 255, 255, 0.38);
}

.form-check-input:checked[type=checkbox] {
    background-image: url(/images/check.png);
}

.section__heading__2 h3 {
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.87);
}

.section__heading__2 span {
    font-weight: 400;
    font-size: 20px;
    color: #3531b1 !important;
    color: rgba(255, 255, 255, 0.87);
}

.form___select {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
    background: #161817;
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-image: url(/images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.form___select:focus {
    border-color: #161817;
    outline: 0;
    box-shadow: none;
}

.form___control {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.57);
    background-color: #161817;
    border: none;
    border-radius: 0.25rem;
}

.form-control:focus {
    color: rgba(255, 255, 255, 0.57);
    background-color: #161817;
    border-color: #161817;
    outline: 0;
    box-shadow: none;
}

.section__heading__3 {
    font-weight: 400;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.87);
}

.form___select {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.57);
    background: #161817;
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-image: url(/images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.form__button {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.form__btn__1 {
    background: #9947E2;
    border-radius: 10px;
    padding: 10px 30px;
    border-color: #9947E2;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.57);
}

.form__btn__2 {
    background: #4072EA;
    border-radius: 10px;
    padding: 10px 25px;
    border-color: #4072EA;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.57);
}


/* MEDIA QUERY */

@media screen and (max-width: 992px) {
    .form__check {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #575757;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.57);
    }

    .form__check__11 {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #575757;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.57);
    }

    .form__check__12 {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #575757;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.57);
    }

    .form__check__13 {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #575757;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.57);
    }

    .form__check__14 {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #575757;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.57);
    }

    .form__check__15 {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #575757;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.57);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .search-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -160px auto;
    }

    .banner__1__content {
        margin-top: 5rem;
    }

    .location__icon {
        position: absolute;
        left: 53%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .search-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -160px auto;
    }

    .banner__1__content {
        margin-top: 2rem;
    }

    .location__icon {
        position: absolute;
        left: 53%;
    }

    .banner__1__content h1 {
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        background: linear-gradient(180deg, #FC466B -48.19%, #5972F4 82.61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

@media (min-width: 525px) and (max-width: 767px) {
    .search-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: -10px auto;
    }

    .banner__1__content {
        margin-top: 2rem;
    }

    .location__icon {
        position: absolute;
        left: 49%;
    }

    .banner__1__content h1 {
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        background: linear-gradient(180deg, #FC466B -48.19%, #5972F4 82.61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .location-input {
        padding: 30px 40px;
    }

    .search-input {
        padding: 30px 25px;
    }

    .search-input {
        width: 100%;
        height: 30px;
        padding: 30px 50px;
        border: 1px solid #ccc;
        opacity: 0.8;
        background-color: #1E201F;
        border-radius: 20px;
        margin-bottom: 1.5rem;
    }

    .location-input {
        width: 100%;
        height: 30px;
        padding: 30px 87px;
        border: 1px solid #ccc;
        background-color: #1E201F;
        opacity: 0.8;
        border-radius: 20px;
        /* margin-right: 10px; */
        position: relative;
    }

    .search-button {
        color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 35%;
        top: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        background: #9947E2;
        border-radius: 15px;
        transition: all .3s ease-in-out;
    }

    .location__icon {
        position: absolute;
        left: 10%;
        top: 73%;
        /* margin-right: 10px; */
        font-weight: 400;
        font-size: 18px;
        /* line-height: 22px; */
        color: rgba(255, 255, 255, 0.87);
        z-index: 1;
    }
}

@media (min-width: 320px) and (max-width: 524px) {
    .search-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: -10px auto;
    }

    .banner__1__content {
        margin-top: 2rem;
    }

    .location__icon {
        position: absolute;
        left: 49%;
    }

    .banner__1__content h1 {
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        background: linear-gradient(180deg, #FC466B -48.19%, #5972F4 82.61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .location-input {
        padding: 30px 40px;
    }

    .search-input {
        padding: 30px 25px;
    }

    .search-input {
        width: 100%;
        height: 30px;
        padding: 30px 50px;
        border: 1px solid #ccc;
        opacity: 0.8;
        background-color: #1E201F;
        border-radius: 20px;
        margin-bottom: 1.5rem;
    }

    .location-input {
        width: 100%;
        height: 30px;
        padding: 30px 87px;
        border: 1px solid #ccc;
        background-color: #1E201F;
        opacity: 0.8;
        border-radius: 20px;
        /* margin-right: 10px; */
        position: relative;
    }

    .search-button {
        color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 35%;
        top: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        background: #9947E2;
        border-radius: 15px;
        transition: all .3s ease-in-out;
    }

    .location__icon {
        position: absolute;
        left: 15%;
        top: 73%;
        /* margin-right: 10px; */
        font-weight: 400;
        font-size: 18px;
        /* line-height: 22px; */
        color: rgba(255, 255, 255, 0.87);
        z-index: 1;
    }
}